.divisor {
  background-color: #ffffff36;
  height: 7.5rem;
  width: 0.6px;
  border-radius: 5px;
}

.glass {
  background: rgba(40, 75, 99, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.1px);
-webkit-backdrop-filter: blur(14.1px);
}
