<div class="w-full h-[350px] flex justify-between">
    <div class="">
        <p>13º</p>
        <span>Campinas, São Paulo</span>
    </div>
    <div>
        <p>07:30</p>
        <span>Monday</span>
    </div>
</div>

<article id="informations" class="flex">
    
    <section id="left--side">
        <div class="flex">
            <div>
                <div class="flex">
                    icon
                    <div>
                        <p>Humidity</p>
                        <span>39%</span>
                    </div>
                </div>
        
                <div class="flex">
                    icon
                    <div>
                        <p>UV index</p>
                        <span>39%</span>
                    </div>
                </div>
            </div>
        
            <div class="divisor"></div>
        
            <div>
                <div class="flex">
                    icon
                    <div>
                        <p>Sunset</p>
                        <span>39%</span>
                    </div>
                </div>
        
                <div class="flex">
                    icon
                    <div>
                        <p>Sunrise</p>
                        <span>39%</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="right--side">
        <div>
            <p>Temperature Day</p>
            <div class="chart">

            </div>
        </div>

        <div id="next--days">

        </div>
    </section>
    
</article>

